.container-plan{
    text-align: center;
    padding-top: 71px;
    align-items: center;

}
.plans{
    display: flex;
    flex-direction: row;
    
    
    
    padding-left: 500px;
    padding-right: 85px;
    padding-top: 45px;
}
.plan-box{
    width: 575px;
    height: 291px;
    min-height: 291px;
    
   margin-right: 120px;
   border: 4px solid rgba(196, 196, 196, 1);
 
box-sizing: border-box;
border-radius: 6px;


}
.plan-box > h2{
    margin-top: 50px;
font-family: 'DM Serif Text';
    font-size: 36px;
}
.plan-box >h1{
    font-family: 'DM Sans';
    font-size: 44px;
    letter-spacing: 0.12em;
}
.plan-box > button{
    width: 200px;
height: 61px;
margin-top: 20px;
background: #EF8094;
border: 4px solid #EF8094
}
.blue-box{
background-image: url("../../assets/blue.png");
background-repeat: no-repeat;
}
.pink-box{
    background-image: url("../../assets/pink.png");
background-repeat: no-repeat;
}
.container-plan > p{
    font-family: 'DM Sans';
    margin-top: 43px;
    padding-bottom: 52px;
}
@media screen and (max-width: 1024px){
    .container-plan{
        width: 1024px;
    }
    .container-plan > h1{
        width: 372px;
height: 79px;
margin: auto auto;
padding-right: 50px;

    }
    .plans{
        width:  1024px;
        margin: 0 0 0 0; 
        padding-right: 46px;
    }
    .plan-box{
        width: 305.61px;
height: 154.67px;
border-radius: 6px;
    }
    .container-plan > p{
        width: 540px;
height: 51px;
align-items: center;
    }
}